@charset "utf-8";

* { margin: 0; padding: 0; box-sizing: border-box; }
ol, ul { list-style : none; }
a { outline : 0; text-decoration: none; color: #fff; }

img { vertical-align: top;}
body { font : 14px/ 1.6 'DIN Pro'; color: #fff;
    box-sizing: border-box;
}

.w980{
    max-width: 980px;
    margin: 0 auto;
}
h1, h2, h3, h4, p, a{
    font-family: 'DIN Pro';
}
h1{
    font-size: 52px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 22px;
}
p{
    font-size: 18px;
    line-height: 22px;
    font-weight: 100;
}

/********* HEADER *********/
header{
    /* height: 850px; width: 100%; */
    height: 100%; width: 100%;
    
    background-image:url(../img/main_bg.png);
    background-size: cover;
    background-repeat: repeat;
    background-position:center;
    text-align: center;
}
header img{
    max-width: 100%;
}
header h1{
    margin-top: -100px;
    margin-bottom: 120px;

}
/********* common *********/



/********* covid alert *********/
.sec1{
    background-color: #1d0d01;
    padding: 60px 0 ;
    text-align: center;
}
.sec1 b{
    font-style: italic;
}
.sec1 i{
    color: #cfcfcf;
}
.sec1 span{
    font-size: 20px;
    font-weight: 600;
}
.sec1 a{
    background-color: #f87705;
    margin: 50px auto 20px;
    display: block;
    width: 250px; height: 50px;
    font-size: 20px;
    line-height: 50px;
    transition: 0.5s;
}
.sec1 a:hover{
    background-color: #aa5000;
}

/********* menu section *********/
.menu{
    width: 20%; 
    background: url(../img/menu_appe.png) no-repeat center #4c2f1c;
    background-size: 110%;
    float: left;
    text-align: center;
    display: table;
    overflow: hidden;
    transition: 0.5s;
}
.menu:hover{
    background-size: 120%;
}
.menu a{
    font-size: 20px;
    line-height: 20px;
    text-shadow: 2px 2px 5px #000;
    font-weight: 500;
    display: table-cell;
    vertical-align: middle;
    transition: 0.5s;
}
.menu:hover a{
/*    font-size: 22px;*/
}
.menu1 a{
    font-size: 40px;
    text-shadow: none;
}
.menu1 a span{
    font-size: 16px;
    line-height: 30px;
}
.menu1:hover a{
/*    font-size: 36px;*/
    text-shadow: 2px 2px 5px #000;
}
.menu1:hover a span{
    font-size: 16px;
}
.menu_udon{
    background-image: url(../img/menu_udon.png);
}
.menu1{
    background-image: none;
}
.menu1 .more{
    display: none;
}
.menu1:hover .more{
    display: block;
}
.menu_spc{
    background-image: url(../img/menu_spc.png);
}
.menu_box{
    background-image: url(../img/menu_box.png);
}
.menu_party{
    background-image: url(../img/menu_party.png);
}
.menu_nigiri{
    background-image: url(../img/menu_nigiri.png);
}
.menu_combo{
    background-image: url(../img/menu_combo.png);
}
.menu_roll{
    background-image: url(../img/menu_roll.png);
}
.menu_tempura{
    background-image: url(../img/menu_tempura.png);
}
/********* menu & button *********/

.container {
    position: relative;
    width: 100%;
    /*max-width: 400px;*/
  }
  
  .container img {
    width: 100%;
    height: auto;
  }
  
  .container .btn {
    /*position: absolute;*/
    position: fixed;
    display: inline;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(244, 169, 40);
    color: #000;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .container .btn:hover {
    background-color: #fff;
    color:#000;
  }

.appetizers{
    background-image: url(../img/appetizers1.jpg);
}

.tempura1{
    position: relative;
    width: 100%;
    max-width: 400px;
}

/********* Take out *********/
.sec3{
    width: 100%;
    height: 550px;
    background: url(../img/sideWall.JPG) no-repeat fixed center #b68167;
    padding-top: 125px;
}
.toutbg{
    max-width: 750px; 
    height: 280px;
    background: rgba(0,0,0, 0.7);
    text-align: center;
    margin: 0 auto;
    padding: 0 50px;
}
.toutbg div{
    float: left;
    width: 50%; height: 100%;
    display: table;
}
.toutbg div p{
    display: table-cell;
    vertical-align: middle;
}
.try{
    font-size: 20px;
}
.call{
    font-weight: 400;
    font-size: 23px;
}
.mobile{
    font-size: 25px;
    font-weight: 500;
}
.toutbg div >a{
    width: 180px; height: 140px;
    border: 1px solid rgba(255,255,255,0.2);
    display: block;
    margin: 70px auto 0;
    padding-top: 30px;
    line-height: 20px;
    transition: 0.5s;
    font-size: 17px;
}
.toutbg .to1{
    font-size: 22px;
}
.toutbg .to2{
    line-height: 28px;
    font-size: 36px;
    font-weight: 500;
}
.toutbg div >a:hover{
    background-color: rgba(255,255,255,0.5);
    color: #000;
}


/********* HOURS *********/
.sec4{
    background-color: #311c0b;
    padding: 60px 0;
}
.sec4 .w980 >div{
    float: left;
    text-align: center;
}
.w60{
    width: 50%;
    padding-left: 20px;
}
.w40{
    width: 50%;
}
.w40 div{
    width: 70%;
    margin: 30px auto 20px;
    padding: 20px 0;
    background-color: #f87705;
}
.w40 h3{
    font-weight: 500;
    margin-bottom: 10px;
}
.w40 > p{
    margin-bottom: 0px;
}
.w40 h4{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
}
.sec5{
    height: 550px;
}

/********* FOOTER *********/
footer{
    background-color: #291f06;
    text-align: center;
    padding: 40px 0;
}


/********* *********/


.sec2::after, .toutbg::after, .sec4::after{
    content: "";
    display: block;
    clear: both;
}

/********* *********/



@media screen and (max-width:1240px) {
    header h1{
        margin-top: -50px;
    }
}

@media screen and (max-width:1040px) {
    header h1{
        margin-top: 0px;
        padding: 0 5%;
    }

}
@media screen and (max-width:980px)  {
    
    header{
        height: 780px;
    }
    .delivery{
        width: 50%;
    }

    .sec1{
        padding: 60px 5%;
    }
}

@media screen and (max-width:760px){
    
    header{
        height: 540px;
    }

    header h1{
        margin-top: -60px;
        margin-bottom: 60px;
    }
    .delivery{
        width: 40%;
    }
    
    .menu{
        width: 33.3%;
    }
    .menu1{
        width: 100%;
    }
    .menu1 .more{
        display: block;
    }
    .toutbg{
        padding: 0 20px;
    }
    
    .w60 img{
        width: 90%;
    }
    
    .w40 div{
        margin-top: 0px;
    }
    .w40 h4{
        font-size: 18px;
    }
}

@media screen and (max-width:560px)  {
    header{
        height: 480px;
    }
    header h1{
        margin-top: 0px;
    }
    .delivery{
        width: 60%;
    }
    
    .sec3{
        padding-top: 95px;
    }
    .toutbg{
        height: 360px;
    }
    .toutbg div{
        float: none;
        width: 100%; height: auto;
        display: block;
        padding-top: 30px;
    }
    .toutbg div p{
        display: inherit;
    }
    .toutbg div>a{
        width: 80%; height: 100px;
        margin-top: 0px;
        padding-top: 5px;
    }
    
    .sec4 .w980 >div {
        float: none;
        width: 100%;
        padding-left: 0px;
    }
    .w60 img{
        width: 50%;
    }
    .w40 div{
        margin-top: 40px;
    }
    .w40 h4{
        font-size: 20px;
    }
    
}

@media screen and (max-width:480px)  {
    header{
        height: 400px;
    }
    
    .menu{
        width: 50%;
    }
    
    
}























